*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}                                                                            

body{
    font-family: 'Raleway';
    font-size: 15px;
    color: #2d3033;
}

.page{
    min-width: 100%;
    overflow:hidden;
}

button{
    padding: 0;
    border:none ;
    background-color: transparent;
}

.navToggle{
    display: none;
}

.navToggle span{
    display: inline-block;
    height: 1px;
    width: 35px;
    background-color: #fff;
    margin:4px 0 ;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background: url(../img/home/Layer\ 34.png) no-repeat center;

    height: 100px;
}

.header__row{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #93989d;
}

.header__logo{

}
.header__nav{

}

.header__nav-link{
    display: inline-block;
    color: #c1c2ca;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 60px;
    font-weight: 700;
}

.header__nav-link:last-child{
    margin-right: 0;
}

.header__nav-link:hover{
    opacity: .5;
}

.home{
    background-image: url(../img/home/Layer\ 34.png );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    text-align: center;
}

.home__body{
    max-width: 950px;
    margin: 0 auto;
}

.home__title{
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 65px;
    color: #ffff;
    margin-bottom: 40px;
}

.home__text{
    font-size: 22px;
    font-weight: 400;
    color: #c6c7ce;

    margin-bottom: 80px;
}

.home__btn{
    display: inline-block;
    color: #ffff;
    background-color: #e84545;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;

    padding: 20px 55px;
    border-radius: 2px;
}

.features{
    margin: 120px 0;
}

.features__row{
    display: flex;
    flex-wrap: wrap;

    margin: 0 -25px;
}

.features__item{
    width: 33.3333333%;
    text-align: center;
    padding: 0 45px;
    margin: 35px 0px;
}

.features__item img{
    display: block;
    max-width: 100%; 
    height: auto;

    margin: 0 auto 30px;
}

.feature__titel{
    font-weight: 700;
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;

    margin-bottom: 25px;
}

.feature__text{
    font-size: 14px;
    font-weight: 400;
    color: #2d3033;
    font-family: 'Raleway';
}

.work{
    display: flex;
    flex-wrap: wrap;
}

.work__item{
    width: 25%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border: 1px solid #babbc4;
}

.work__img{
    display: block;
    min-width: 100%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.work__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    text-align: center;
    background-color: rgba(232, 69, 69, .9);

    width: 100%;
    height: 100%;

    opacity: 0;
}

.work__title{
    font-size: 14px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 15px;
}

.work__text{
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
}

.work__item:hover .work__content{
    opacity: 1;
}

.team{
    padding: 100px 0;
}

.team__row{
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
}

.team__item img{
    display: block;
    max-width: 100%;
    height: auto;

    margin-bottom: 30px;
}

.team__name{
    color: #2d3033;
    font-size: 22px;
    font-weight: 400;

    margin-bottom: 10px;
}

.team__pos{
    font-style: 13px;
    font-weight: 400;
    color:#e84545;

    margin-bottom: 30px;
}

.team__text{
    font-style: 14px;
    font-weight: 400;
    color: #93989d ;
    margin-bottom: 25px;
}

.social{
    display: flex;
}

.social__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8ecee;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color:#c6cacc ;
    font-size: 15px;
    margin-right: 4px;
}

.social__link:last-child{
    margin-right: 0;
}

.reviews{
    background-color: #53354a;
    overflow: hidden;
}

.reviews__row{
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 500px;
    padding-left: 30px;
}

.reviews__text{
    font-size: 36px;
    font-family: 'Carbo' ;
    font-style: italic;
    line-height: 1.2;
    color: #ffff;
    margin-bottom: 24px;
    font-weight: 400;
}

.reviews__author{
    font-size: 13px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
}

.dowload{
    padding:100px 0px;   
}

.dowload__body{
    text-align: center;
}

.dowload__title{
    font-weight: 300;
    font-size: 28px;
    color: #2d3033;
    margin-bottom: 10px;
}

.dowload__suptitle{
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.dowload__link{
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #ffff;
    background-color: #e84545;
    padding: 15px 85px;
    text-decoration: none;
    text-transform: uppercase;
}

.dowload__link:hover{
    opacity: .7;
}

.footer{
    background-color: #3a3e64;
}

.footer__top{
   padding: 60px 0; 
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
}

.footer__item{
    width: 33.333333%;
    text-align: center;
}

.footer__title{
    font-weight: 700;
    font-size: 14px;
    color: #ffff;

    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__text{
    color: #686a84;
    font-weight:400 ;
    font-size: 14px;
}

.footer-social{
    justify-content: center;
}

.footer__bottom{
    background-color: #313454;
    padding: 25px 0;
}

.footer__bottom-text{
    text-align: center;
    color: #7b7b7c;
    font-weight: 400;
    font-size: 16px;

    max-width: 310px;
    margin: 0 auto;
}

.footer__bottom-text span{
    color: #ffff;
}

@media ( max-width:1200px ) {
    .work__item{
        width: 50%;
    }
}


@media(max-width:991px){
    .header__nav{
        transform: translateY(-100%);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform .4s linear;

        height: auto;
        padding: 285px 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        background: url(../img/home/Layer\ 34.png) no-repeat center;

        background-size: cover;

    }

    .header__logo{
        position: relative;
        z-index: 10;
    }

    .navToggle{
        position: relative;
        z-index: 10;
    }

    .header__nav-link{
        margin-right: 0;
        margin: 15px 0;

        font-size: 24px;
    }

    .header__nav-show{
        transform: translateY(0%);

        transition: transform .4s linear;
    }

    .home__title{
        font-size: 58px;
    }

    .features__item{
        padding: 0 5px;
    }

    .team__item{
        width: 50%;
        margin-bottom: 25px;
        text-align: center;
    }

    .team__item img{
        width: 100%;
    }

    .social{
        justify-content: center;
    }

    .reviews__content{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .reviews__photo{
        width: 100%;
    }

    .navToggle{
        display:flex;
        flex-direction: column;
    }
}

@media(max-width:768px){
    .home__title{
        font-size: 44px;
    }

    .features__item{
        width: 50%; 
        padding: 0 30px;
    }

    .footer__item{
        width: 100%;
        margin-bottom: 60px;
    }

    .footer__item:last-child{
        margin: 0;
    }

    .footer__text{
        max-width: 420px;
        margin:0 auto;
    }

    .reviews__img{
        margin-right: -25px;
    }
}

@media(max-width:620px){
    .home__title{
        font-size: 37px;
        margin-bottom: 15px;
    }

    .home__text{
        font-size: 17px;
}

    .feature__titel{
        width: 100%;

    }

    .work__item{
        width: 100%;
    }

    .features{
        margin: 60px 0;
    }

    .features__item{
        width: 100%;
        max-width: 420px;
        text-align: center;
        margin: 0 auto 60px;

    }

    


}

@media(max-width:520px){
    .home__title{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .home__text{
        font-size: 16px;
    }
    .team__item{
      width: 100%;  
    }

    .reviews__img{
        right: -100px;
    }

    .home{
        height: auto;
        padding: 240px 0;
    }
}

@media(max-width:420px){
    .home__title{
        font-size: 22px;
        margin-bottom: 15px;
    }

    .home__text{
        font-size: 13px;
    }

}